numpy==1.26.4
scipy
pyserial
gmsh
svg.path
dynamixel-sdk
qpsolvers[clarabel,proxqp]
opencv-python
--find-links https://github.com/cansik/pyrealsense2-macosx/releases; 
pyrealsense2; platform_system == "Windows" or platform_system == "Linux"
pyrealsense2-macosx; platform_system == "Darwin"
pillow
emioapi==0.2.0
